In [1]:
import numpy as np
import pandas as pd

In [19]:
#abro el csv con pandas
movies= pd.read_csv('../Datos/movies_dataset.csv')
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

C:\Users\clari\AppData\Local\Temp\ipykernel_7612\3357341811.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies= pd.read_csv('../Datos/movies_dataset.csv')

In [3]:
#selecciona la columna y la convierto en un diccionario con el fin de prepararla para el siguiente paso
nombres= movies['belongs_to_collection']
dict(nombres)
nombres

0        {'id': 10194, 'name': 'Toy Story Collection', ...
1                                                      NaN
2        {'id': 119050, 'name': 'Grumpy Old Men Collect...
3                                                      NaN
4        {'id': 96871, 'name': 'Father of the Bride Col...
                               ...
45461                                                  NaN
45462                                                  NaN
45463                                                  NaN
45464                                                  NaN
45465                                                  NaN
Name: belongs_to_collection, Length: 45466, dtype: object

In [4]:
# Busco iterar toda la serie, verificar que hay diccionario para tomar el valor de la clave 'name', contemplando los njulos
import json
import pandas as pd

def obtener_nombres(series):
    for nombre_dict_str in series:
        if pd.isnull(nombre_dict_str):
            yield None
        else:
            nombre_json = str(nombre_dict_str).replace("'", '"')
            try:
                nombre_dict = json.loads(nombre_json)
                if isinstance(nombre_dict, dict):  # Verificar que sea un diccionario
                    nombre = nombre_dict.get('name')
                    if nombre:
                        yield nombre
            except json.JSONDecodeError:
                pass

nombres = obtener_nombres(movies['belongs_to_collection'])

#guardo los datos en la lista collection
collection = []
for nombre in nombres:
   collection.append(nombre)

collection

['Toy Story Collection',
 None,
 'Grumpy Old Men Collection',
 None,
 'Father of the Bride Collection',
 None,
 None,
 None,
 None,
 'James Bond Collection',
 None,
 None,
 'Balto Collection',
 None,
 None,
 None,
 None,
 None,
 'Ace Ventura Collection',
 None,
 'Chili Palmer Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Babe Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Mortal Kombat Collection',
 None,
 None,
 None,
 'Pocahontas Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'The Lawnmower Man Collection',
 None,
 None,
 'Friday Collection',
 'From Dusk Till Dawn Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'The Muppet Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'The Neverending Story Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Bad Boys Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Batman Collection',
 None,
 None,
 'Brooklyn Cigar Store Collection',
 None,
 None,
 None,
 None,
 None,
 'Mexico Trilogy',
 None,
 'Die Hard Collection',
 'Teenage Apocalypse Trilogy',
 None,
 None,
 'Free Willy Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Power Rangers Collection',
 None,
 None,
 None,
 'Síť (kolekce)',
 None,
 None,
 None,
 None,
 None,
 None,
 'Showgirls Collection',
 'Brooklyn Cigar Store Collection',
 None,
 'Species Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Under Siege Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Burnt by the Sun Trilogy',
 None,
 'Before... Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 'Clerks Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Dumb and Dumber Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'A Goofy Movie Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'The Vampire Chronicles',
 None,
 None,
 None,
 None,
 None,
 None,
 'Star Wars Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Poison Ivy Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Three Colors Collection',
 'Three Colors Collection',
 'Three Colors Collection',
 None,
 None,
 None,
 None,
 'Swan Princess Series',
 None,
 None,
 None,
 'The Santa Clause Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Tales from the Crypt Collection',
 'Star Trek: The Next Generation Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Ace Ventura Collection',
 None,
 None,
 None,
 None,
 'The Jack Ryan Collection',
 None,
 None,
 None,
 'The Crow Collection',
 None,
 'The Flintstones (Live-Action) Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'The Lion King Collection',
 None,
 'A Nightmare on Elm Street Collection',
 'The Mask Collection',
 None,
 None,
 'Naked Gun Collection',
 None,
 None,
 None,
 None,
 None,
 'Speed Collection',
 None,
 'Timecop Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Street Fighter',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Highlander Collection',
 None,
 None,
 None,
 None,
 'Addams Family Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Beverly Hills Cop Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'City Slickers Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'The Endless Summer Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Free Willy Collection',
 None,
 'The Fugitive / U.S. Marshals Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 'Hard Target Collection',
 None,
 'Hot Shots! Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Jurassic Park Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'The Karate Kid Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'RoboCop Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'The Secret Garden Collection',
 None,
 'The Shadow Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Blade Runner Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Home Alone Collection',
 None,
 'Aladdin Collection',
 'The Terminator Collection',
 None,
 None,
 'Batman Collection',
 'The Hannibal Lecter Anthology',
 None,
 'Beauty and the Beast Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Candyman Collection',
 None,
 None,
 'Heavy Metal Collection',
 'Hellraiser Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'All Dogs Go to Heaven Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Mission: Impossible Collection',
 None,
 None,
 None,
 None,
 'DragonHeart Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Bloodsport Collection',
 'The Apu Collection',
 'The Apu Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Lemmy Caution Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'The Visitors Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Ghost in the Shell Collection',
 None,
 None,
 None,
 'Wallace & Gromit Collection',
 None,
 None,
 'The Arrival Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Trainspotting Collection',
 None,
 'Independence Day Collection',
 None,
 None,
 'The Hunchback of Notre Dame Collection',
 None,
 None,
 None,
 None,
 'The Nutty Professor Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'The Crow Collection',
 None,
 None,
 'Tales from the Crypt Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 'Escape From ... Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'The Godfather Collection',
 None,
 'Police Story Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Police Story Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'The Land Before Time Collection',
 None,
 None,
 'Halloween Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'The Space Odyssey Series',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'The Thin Man Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Living Dead Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'The Mighty Ducks Collection',
 None,
 'Witch Mountain Collection',
 'Herbie Collection',
 'Herbie Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'Cinderella Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 'The Fox and the Hound Collection',
 'Freeway Collection',
 None,
 'Die Hard Collection',
 'The Lawnmower Man Collection',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 ...]

In [5]:
#PROCESO CON EL FIN DE COMPARAR
#data frame de belongs
df_anidado= pd.DataFrame(movies['belongs_to_collection'], columns=['belongs_to_collection'])
df_anidado

#dataframe solo de nombres de colecciones
df_collection= pd.DataFrame(collection, columns=['collection'])
df_collection
#uno los dataframe por filas para comprobar que coinciden  los datos 
data_unida=pd.concat([df_anidado, df_collection], axis=1)

data_unida.head(5)

,belongs_to_collection,collection
0,"{'id': 10194, 'name': 'Toy Story Collection', ...",Toy Story Collection
1,NaN,None
2,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",Grumpy Old Men Collection
3,NaN,None
4,"{'id': 96871, 'name': 'Father of the Bride Col...",Father of the Bride Collection

In [6]:
# Agregar el DataFrame collection al DataFrame existente
movies = pd.concat([movies, df_collection], axis=1)
movies.head(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,collection
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,Toy Story Collection
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,None
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,Grumpy Old Men Collection
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,None
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,Father of the Bride Collection

In [20]:
movies['genres']

0        [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1        [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2        [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3        [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                           [{'id': 35, 'name': 'Comedy'}]
                               ...
45461    [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45462                        [{'id': 18, 'name': 'Drama'}]
45463    [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45464                                                   []
45465                                                   []
Name: genres, Length: 45466, dtype: object

In [21]:
#en cada fila de genres aplico la funcion
movie_genres = movies['genres'].apply(lambda x: [d['name'] for d in eval(x)] if pd.notnull(x) else [])
print(movie_genres)

0         [Animation, Comedy, Family]
1        [Adventure, Fantasy, Family]
2                   [Romance, Comedy]
3            [Comedy, Drama, Romance]
4                            [Comedy]
                     ...
45461                 [Drama, Family]
45462                         [Drama]
45463       [Action, Drama, Thriller]
45464                              []
45465                              []
Name: genres, Length: 45466, dtype: object

In [22]:
#aplico los cambios al df
movies['genres']= movie_genres
movies['genres']

0         [Animation, Comedy, Family]
1        [Adventure, Fantasy, Family]
2                   [Romance, Comedy]
3            [Comedy, Drama, Romance]
4                            [Comedy]
                     ...
45461                 [Drama, Family]
45462                         [Drama]
45463       [Action, Drama, Thriller]
45464                              []
45465                              []
Name: genres, Length: 45466, dtype: object

In [10]:
movies['production_countries']

0        [{'iso_3166_1': 'US', 'name': 'United States o...
1        [{'iso_3166_1': 'US', 'name': 'United States o...
2        [{'iso_3166_1': 'US', 'name': 'United States o...
3        [{'iso_3166_1': 'US', 'name': 'United States o...
4        [{'iso_3166_1': 'US', 'name': 'United States o...
                               ...
45461               [{'iso_3166_1': 'IR', 'name': 'Iran'}]
45462        [{'iso_3166_1': 'PH', 'name': 'Philippines'}]
45463    [{'iso_3166_1': 'US', 'name': 'United States o...
45464             [{'iso_3166_1': 'RU', 'name': 'Russia'}]
45465     [{'iso_3166_1': 'GB', 'name': 'United Kingdom'}]
Name: production_countries, Length: 45466, dtype: object

In [24]:
#expresion regular para extraer los name referidos a los paises
movies['production_countries']= movies['production_countries'].str.extract(r"'name': '([^']*)'")

In [25]:
movies['production_countries']

0        United States of America
1        United States of America
2        United States of America
3        United States of America
4        United States of America
                   ...
45461                        Iran
45462                 Philippines
45463    United States of America
45464                      Russia
45465              United Kingdom
Name: production_countries, Length: 45466, dtype: object

In [26]:
movies

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[Drama, Family]",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,[Drama],NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[Action, Drama, Thriller]",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [27]:
movies['production_companies']=movies['production_companies'].str.extract(r"'name': '([^']*)'")
movies['production_companies']

0                       Pixar Animation Studios
1                              TriStar Pictures
2                                  Warner Bros.
3        Twentieth Century Fox Film Corporation
4                         Sandollar Productions
                          ...
45461                                       NaN
45462                               Sine Olivia
45463                   American World Pictures
45464                                 Yermoliev
45465                                       NaN
Name: production_companies, Length: 45466, dtype: object

In [28]:
movies["spoken_languages"]=movies["spoken_languages"].str.extract(r"'name': '([^']*)'")
movies["spoken_languages"]

0        English
1        English
2        English
3        English
4        English
          ...
45461      فارسی
45462
45463    English
45464        NaN
45465    English
Name: spoken_languages, Length: 45466, dtype: object

In [29]:
#b)Los valores nulos de los campos revenue, budget deben ser rellenados por el número 0
movies['revenue'].fillna(0,inplace=True)
movies['budget'].fillna(0,inplace=True)

In [30]:
#c) Eliminar valores nulos en release_date
movies= movies.dropna(subset=['release_date'])
movies['release_date'].isnull().sum()

0

In [31]:
#d) De haber fechas, deberá tener el formato AAAA-mm-dd, además deberá crear la columna release_yeardonde extraerán el año de la fecha de estreno.
#hay algunos formatos bien, pero pasamos to_datetime para igual todos los datos
movies['release_date'] = pd.to_datetime(movies['release_date'], errors='coerce')
movies['release_date'] = pd.to_datetime(movies['release_date']).dt.strftime('%Y-%m-%d')#formato solicitado

C:\Users\clari\AppData\Local\Temp\ipykernel_7612\3881058459.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'] = pd.to_datetime(movies['release_date'], errors='coerce')
C:\Users\clari\AppData\Local\Temp\ipykernel_7612\3881058459.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['release_date'] = pd.to_datetime(movies['release_date']).dt.strftime('%Y-%m-%d')#formato solicitado

In [32]:
#extraigo el año de release_date y lo paso como un DF
año = movies['release_date'].str.slice(0, 4)
año= list(año)
df_año= pd.DataFrame(año, columns=['release_year'])
df_año   # 45376 filas

      release_year
0             1995
1             1995
2             1995
3             1995
4             1995
...            ...
45374         1991
45375         2011
45376         2003
45377         1917
45378         2017

[45379 rows x 1 columns]

In [33]:
#hago lo mismo con release_date. Para luego sumarlo como una nueva columna modificada
date= movies['release_date']
date= list(date)
df_date= pd.DataFrame(date, columns=['release_date'])
df_date= df_date.dropna()
df_date  #45376 filas

      release_date
0       1995-10-30
1       1995-12-15
2       1995-12-22
3       1995-12-22
4       1995-02-10
...            ...
45374   1991-05-13
45375   2011-11-17
45376   2003-08-01
45377   1917-10-21
45378   2017-06-09

[45376 rows x 1 columns]

In [35]:
#Al comprobar que tiene la misma cantidad de filas y no hay nulos. Elimino el release_date.
movies.drop(columns=['release_date'], inplace=True)
movies.columns

C:\Users\clari\AppData\Local\Temp\ipykernel_7612\2631306420.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies.drop(columns=['release_date'], inplace=True)

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'revenue', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'video', 'vote_average', 'vote_count'],
      dtype='object')

In [36]:
#Ahora concateno al DF original, las nuevas columnas
movies = pd.concat([movies, df_date, df_año], axis=1)

In [40]:
#e)Cree la columna con el retorno de inversión, llame return con los campos revenuey budget, dividiendo estas dos últimas revenue / budget, cuando no haya datos disponibles para calcularlo, deberá tomar el valor 0.
#me tira error! debo convertir los datos a float
retorno = ((pd.to_numeric(movies['revenue'], errors='coerce')) /  (pd.to_numeric(movies['budget'], errors='coerce')))
retorno = pd.DataFrame(retorno, columns=['return'])
retorno.fillna(0, inplace=True)
retorno = retorno.replace(np.inf,0)
retorno

          return
0      12.451801
1       4.043035
2       0.000000
3       5.090760
4       0.000000
...          ...
44978   0.000000
45070   0.000000
45148   0.000000
45203   0.000000
45338   0.000000

[45464 rows x 1 columns]

In [41]:
movies = pd.concat([movies, retorno], axis=1)
movies.head(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,release_date,release_year,return
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,English,Released,NaN,Toy Story,False,7.7,5415.0,1995-10-30,1995,12.451801
1,False,NaN,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,English,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,1995-12-15,1995,4.043035
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,English,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,1995-12-22,1995,0.000000
3,False,NaN,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,English,Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,1995-12-22,1995,5.090760
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,English,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,1995-02-10,1995,0.000000

In [42]:

# Contar los valores NaN en cada fila
num_nan = movies.isnull().sum(axis=1)

# Filtro y elimino las filas que tienen más de 4 NaN (4, porque conclui que con solo 3 puede igual ser relevante )
movies = movies.dropna(thresh=movies.shape[1]-4)

movies

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,release_date,release_year,return
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[Animation, Comedy, Family]",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,English,Released,NaN,Toy Story,False,7.7,5415.0,1995-10-30,1995,12.451801
1,False,NaN,65000000,"[Adventure, Fantasy, Family]",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,English,Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,1995-12-15,1995,4.043035
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[Romance, Comedy]",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,English,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,1995-12-22,1995,0.000000
3,False,NaN,16000000,"[Comedy, Drama, Romance]",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,English,Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,1995-12-22,1995,5.090760
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,[Comedy],NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,English,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,1995-02-10,1995,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45449,False,NaN,0,"[Animation, Family]",NaN,14885,tt0457437,en,Pooh's Heffalump Halloween Movie,"It's Halloween in the 100 Acre Wood, and Roo's...",...,English,Released,Celebrate Lumpy's First Halloween.,Pooh's Heffalump Halloween Movie,False,5.4,7.0,NaN,NaN,0.000000
45454,False,NaN,0,"[Comedy, Drama]",NaN,420346,tt4130180,en,The Morning After,The Morning After is a feature film that consi...,...,English,Released,What happened last night?,The Morning After,False,4.0,2.0,NaN,NaN,0.000000
45456,False,NaN,0,"[Horror, Mystery, Thriller]",NaN,84419,tt0038621,en,House of Horrors,An unsuccessful sculptor saves a madman named ...,...,English,Released,Meet...The CREEPER!,House of Horrors,False,6.3,8.0,NaN,NaN,0.000000
45458,False,NaN,0,[Horror],NaN,289923,tt0252966,en,The Burkittsville 7,A film archivist revisits the story of Rustin ...,...,English,Released,"Do you know what happened 50 years before ""The...",The Burkittsville 7,False,7.0,1.0,NaN,NaN,0.000000
45463,False,NaN,0,"[Action, Drama, Thriller]",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,English,Released,A deadly game of wits.,Betrayal,False,3.8,6.0,NaN,NaN,0.000000

In [43]:
movies.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'revenue', 'runtime', 'spoken_languages',
       'status', 'tagline', 'title', 'video', 'vote_average', 'vote_count',
       'release_date', 'release_year', 'return'],
      dtype='object')

In [44]:
#f) Eliminar las columnas que no se utilizarán, video, imdb_id, adult, original_title, poster_pathy homepage.(elimino belong_to_collection ya que esta desanidado y e creado una nueva columna)
movies.drop(columns=['video','imdb_id','adult','original_title','poster_path', 'homepage','belongs_to_collection',], inplace=True)
movies.columns

Index(['budget', 'genres', 'id', 'original_language', 'overview', 'popularity',
       'production_companies', 'production_countries', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count', 'release_date', 'release_year', 'return'],
      dtype='object')

In [46]:
movies.to_csv('movies_limpio.csv')

In [47]:
movies

,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,release_date,release_year,return
0,30000000,"[Animation, Comedy, Family]",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,Pixar Animation Studios,United States of America,373554033.0,81.0,English,Released,NaN,Toy Story,7.7,5415.0,1995-10-30,1995,12.451801
1,65000000,"[Adventure, Fantasy, Family]",8844,en,When siblings Judy and Peter discover an encha...,17.015539,TriStar Pictures,United States of America,262797249.0,104.0,English,Released,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995-12-15,1995,4.043035
2,0,"[Romance, Comedy]",15602,en,A family wedding reignites the ancient feud be...,11.7129,Warner Bros.,United States of America,0.0,101.0,English,Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995-12-22,1995,0.000000
3,16000000,"[Comedy, Drama, Romance]",31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,Twentieth Century Fox Film Corporation,United States of America,81452156.0,127.0,English,Released,Friends are the people who let you be yourself...,Waiting to Exhale,6.1,34.0,1995-12-22,1995,5.090760
4,0,[Comedy],11862,en,Just when George Banks has recovered from his ...,8.387519,Sandollar Productions,United States of America,76578911.0,106.0,English,Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,5.7,173.0,1995-02-10,1995,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45449,0,"[Animation, Family]",14885,en,"It's Halloween in the 100 Acre Wood, and Roo's...",2.568495,Walt Disney Pictures,United States of America,0.0,67.0,English,Released,Celebrate Lumpy's First Halloween.,Pooh's Heffalump Halloween Movie,5.4,7.0,NaN,NaN,0.000000
45454,0,"[Comedy, Drama]",420346,en,The Morning After is a feature film that consi...,0.139936,Oops Doughnuts Productions,United States of America,0.0,79.0,English,Released,What happened last night?,The Morning After,4.0,2.0,NaN,NaN,0.000000
45456,0,"[Horror, Mystery, Thriller]",84419,en,An unsuccessful sculptor saves a madman named ...,0.222814,Universal Pictures,United States of America,0.0,65.0,English,Released,Meet...The CREEPER!,House of Horrors,6.3,8.0,NaN,NaN,0.000000
45458,0,[Horror],289923,en,A film archivist revisits the story of Rustin ...,0.38645,Neptune Salad Entertainment,United States of America,0.0,30.0,English,Released,"Do you know what happened 50 years before ""The...",The Burkittsville 7,7.0,1.0,NaN,NaN,0.000000
45463,0,"[Action, Drama, Thriller]",67758,en,"When one of her hits goes wrong, a professiona...",0.903007,American World Pictures,United States of America,0.0,90.0,English,Released,A deadly game of wits.,Betrayal,3.8,6.0,NaN,NaN,0.000000